@charset "UTF-8";
body {
  width: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  body {
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
  }
}
body .para-s {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  body .para-s {
    font-size: 24px;
  }
}
body .para-l {
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  body .para-l {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
body .comheader, body .commain-info {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
}
body .section-headline {
  font-size: calc(1.125rem + ((1vw - 3.75px) * 6.2609));
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  body .section-headline {
    font-size: calc(54px - 4px);
  }
}

header, main, footer {
  width: 100%;
  margin: 0 auto;
}

header > *, main > *, footer > * {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  header > *, main > *, footer > * {
    width: 85%;
    margin: 0 auto;
  }
}

.center {
  text-align: center;
}

.indexheader {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
}
@media screen and (min-width: 1200px) {
  .indexheader {
    display: block;
    position: relative;
    height: 80vh;
    padding: 24px 0;
  }
}
.indexheader .indexheader-copy {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.indexheader .indexheader-copy h2 {
  padding-top: 16px;
  color: #E83600;
  font-size: calc(1rem + ((1vw - 3.2px) * 3.1797));
}
@media screen and (min-width) {
  .indexheader .indexheader-copy h2 {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.indexheader .indexheader-copy .center {
  text-align: center;
}
.indexheader .indexheader-copy .right {
  text-align: right;
}
@media screen and (min-width: 1200px) {
  .indexheader .indexheader-copy {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
    padding: 0;
    width: 50%;
    position: absolute;
    top: 172px;
    left: 40%;
  }
}
.indexheader .indexheader-headline {
  width: 100vw;
  background-color: #FC91B2;
  padding: 6px 0;
  text-align: center;
  color: white;
  font-size: calc(1.125rem + ((1vw - 3.75px) * 6.2609));
}
@media screen and (min-width: 1200px) {
  .indexheader .indexheader-headline {
    width: 100vw;
    background: none;
    color: #E5356B;
    font-size: calc(54px + 20px);
    position: absolute;
    padding: 24px 0;
    top: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .indexheader .indexheader-image {
    width: 25%;
    max-height: 60vh;
    position: absolute;
    top: 172px;
    left: 10%;
  }
}
.indexheader .indexheader-image img {
  width: 100%;
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .indexheader .indexheader-image img {
    width: 100%;
  }
}
.indexheader p {
  padding-top: 32px;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) - 4px);
}
@media screen and (min-width: 1200px) {
  .indexheader p {
    padding-top: 0;
    width: 50%;
    font-size: calc(54px - 8px);
    position: absolute;
    bottom: 15vh;
    left: 40%;
  }
}
.indexheader .pc-only {
  display: none;
}
@media screen and (min-width: 1200px) {
  .indexheader .pc-only {
    display: block;
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}

.indexmain .indexmain-info {
  width: 85%;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.indexmain .indexmain-info .indexmain-info-about {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-about {
    padding-bottom: 150px;
  }
}
.indexmain .indexmain-info .indexmain-info-about div {
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-about div {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
  }
}
.indexmain .indexmain-info .indexmain-info-about img {
  padding-top: 32px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-about img {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-about p {
    width: 60%;
  }
}
.indexmain .indexmain-info .indexmain-info-date {
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-date {
    padding-bottom: 200px;
  }
}
.indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc {
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
  }
}
.indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc .indexmain-info-date-disc-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 69%;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc .indexmain-info-date-disc-map {
    width: 45%;
    padding-top: 37%;
  }
}
.indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc .indexmain-info-date-disc-para {
  padding-top: 32px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc .indexmain-info-date-disc-para {
    padding-top: 0;
    width: 45%;
  }
}
.indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc .indexmain-info-date-disc-para p {
  padding-bottom: 16px;
}
.indexmain .indexmain-info .indexmain-info-date .indexmain-info-date-disc .indexmain-info-date-disc-para .indexmain-info-date-notice {
  color: #E5356B;
  padding-bottom: 0;
}
.indexmain .indexmain-info .indexmain-info-links {
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
  }
}
.indexmain .indexmain-info .indexmain-info-links :nth-child(1) {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links :nth-child(1) {
    padding: 0;
  }
}
.indexmain .indexmain-info .indexmain-info-links > div {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links > div {
    width: 45%;
  }
}
.indexmain .indexmain-info .indexmain-info-links > div h3 {
  padding-bottom: 32px;
}
.indexmain .indexmain-info .indexmain-info-links > div h3 .red {
  color: #E5356B;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links > div h3 {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
    height: 110px;
  }
}
.indexmain .indexmain-info .indexmain-info-links > div img {
  width: 50%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links > div img {
    width: auto;
    height: 300px;
    padding: calc(24px * 2) 0;
  }
}
.indexmain .indexmain-info .indexmain-info-links > div p {
  text-align: left;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links > div p {
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
    height: 350px;
  }
}
.indexmain .indexmain-info .indexmain-info-links > div a {
  display: block;
  height: 56px;
  width: 100%;
  border-radius: 14px;
  background-color: #A0FD8F;
  vertical-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links > div a {
    margin: 0 auto;
    width: 100%;
    height: 90px;
    border-radius: 24px;
  }
}
.indexmain .indexmain-info .indexmain-info-links > div a div {
  height: 100%;
  line-height: 56px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-links > div a div {
    line-height: 90px;
  }
}
.indexmain .indexmain-info .indexmain-info-movie h3 {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-movie h3 {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-movie > div {
    display: flex;
    justify-content: space-between;
  }
}
.indexmain .indexmain-info .indexmain-info-movie .indexmain-info-movie-container {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-movie .indexmain-info-movie-container {
    width: 45%;
  }
}
.indexmain .indexmain-info .indexmain-info-movie .indexmain-info-movie-container video {
  width: 100%;
}
.indexmain .indexmain-info .indexmain-info-movie .indexmain-info-movie-desc {
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-info .indexmain-info-movie .indexmain-info-movie-desc {
    width: 45%;
    padding: 0;
  }
}
.indexmain .indexmain-info .indexmain-info-movie .indexmain-info-movie-desc .para-l {
  padding-bottom: 16px;
}
.indexmain .indexmain-rev {
  width: 100vw;
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 48px 0;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev {
    padding: 100px 0;
  }
}
.indexmain .indexmain-rev > * {
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev > * {
    width: 85%;
  }
}
.indexmain .indexmain-rev h3 {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev h3 {
    padding-bottom: 150px;
  }
}
.indexmain .indexmain-rev p, .indexmain .indexmain-rev div {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev p, .indexmain .indexmain-rev div {
    padding-bottom: 100px;
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.indexmain .indexmain-rev :nth-child(5) {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev :nth-child(5) {
    padding-bottom: 200px;
  }
}
.indexmain .indexmain-rev .para-s {
  padding: 0;
}
.indexmain .indexmain-rev .indexmain-rev-review img {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-review img {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-review .half-half {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.indexmain .indexmain-rev .indexmain-rev-review .half-half img {
  width: 49%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-review .half-half img {
    width: calc(49% / 2);
  }
}
.indexmain .indexmain-rev .indexmain-rev-support img {
  width: 100%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-support img {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-support p.center {
    width: 100%;
    margin: 0 auto;
    font-size: 54px;
    font-weight: bold;
  }
}
.indexmain .indexmain-rev .indexmain-rev-support .indexmain-rev-support-supporters {
  text-align: left;
  list-style: none;
  list-style-position: outside;
  width: 80%;
  font-size: 12px;
  margin-left: calc(12px * 3);
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-support .indexmain-rev-support-supporters {
    margin-right: 10%;
    margin-left: calc(10% + 24px * 3);
    font-size: 24px;
  }
}
.indexmain .indexmain-rev .indexmain-rev-support .indexmain-rev-support-supporters .list1::before {
  content: "後援：";
  margin-left: calc(12px * -3);
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-support .indexmain-rev-support-supporters .list1::before {
    margin-left: calc(24px * -3);
  }
}
.indexmain .indexmain-rev .indexmain-rev-support .indexmain-rev-support-supporters .list2::before {
  content: "協力：";
  margin-left: calc(12px * -3);
}
@media screen and (min-width: 1200px) {
  .indexmain .indexmain-rev .indexmain-rev-support .indexmain-rev-support-supporters .list2::before {
    margin-left: calc(24px * -3);
  }
}

.indexfooter .indexfooter-links {
  padding: 119px 0;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-links {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
.indexfooter .indexfooter-links > div {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-links > div {
    padding-bottom: 0;
  }
}
.indexfooter .indexfooter-links > div {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-links > div {
    width: 30%;
  }
}
.indexfooter .indexfooter-links > div h3 {
  padding-bottom: 32px;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-links > div h3 {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.indexfooter .indexfooter-links > div a {
  display: block;
  height: 56px;
  width: 100%;
  border-radius: 14px;
  background-color: #A0FD8F;
  text-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-links > div a {
    height: 90px;
    border-radius: 24px;
  }
}
.indexfooter .indexfooter-links > div a div {
  height: 100%;
  line-height: 56px;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-links > div a div {
    line-height: 90px;
  }
}
.indexfooter .indexfooter-address {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-address {
    padding-bottom: 150px;
  }
}
.indexfooter .indexfooter-address .para-s {
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .indexfooter .indexfooter-address .para-s {
    padding-bottom: 24px;
  }
}

.parheader {
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 48px 0;
}
@media screen and (min-width: 1200px) {
  .parheader {
    padding-top: 66px;
    padding-bottom: 100px;
  }
}
.parheader .parheader-headline {
  text-align: center;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) + 5px);
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parheader .parheader-headline {
    font-size: calc(54px * 2);
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .parheader .parheader-copy {
    display: flex;
  }
}
.parheader .parheader-copy h2 {
  text-align: center;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) - 4px);
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parheader .parheader-copy h2 {
    width: 55%;
    font-size: calc(54px - 4px);
    text-align: left;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .parheader .parheader-copy div {
    width: 40%;
    padding-bottom: 100px;
  }
}
.parheader .parheader-copy div img {
  width: 100%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parheader .parheader-copy div img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .parheader .parheader-copy .parheader-line {
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
  }
}

.parmain .parmain-info .parmain-info-about {
  width: 85%;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.parmain .parmain-info .parmain-info-about h3 {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about h3 {
    padding-bottom: 150px;
  }
}
.parmain .parmain-info .parmain-info-about p, .parmain .parmain-info .parmain-info-about img {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about p, .parmain .parmain-info .parmain-info-about img {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}
.parmain .parmain-info .parmain-info-about > div p {
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about > div p {
    width: 60%;
  }
}
.parmain .parmain-info .parmain-info-about > div img {
  width: 50%;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about > div img {
    display: block;
    width: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about .parmain-info-about-sec2 {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-about .parmain-info-about-sec3 {
    padding-bottom: 0;
  }
}
.parmain .parmain-info .parmain-info-date {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-date {
    padding-bottom: 200px;
  }
}
.parmain .parmain-info .parmain-info-date .parmain-info-date-disc {
  padding-top: 48px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-date .parmain-info-date-disc {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
  }
}
.parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 69%;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-map {
    width: 45%;
    padding-top: 37%;
  }
}
.parmain .parmain-info .parmain-info-date .parmain-info-date-disc iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-para {
  padding-top: 32px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-para {
    padding-top: 0;
    width: 45%;
  }
}
.parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-para p {
  font-size: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-para p {
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
  }
}
.parmain .parmain-info .parmain-info-date .parmain-info-date-disc .parmain-info-date-disc-para .parmain-info-date-notice {
  color: #E5356B;
  padding-bottom: 0;
}
.parmain .parmain-info .parmain-info-items {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-items {
    padding-bottom: 200px;
  }
}
.parmain .parmain-info .parmain-info-items h3 {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-items h3 {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-items > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(24px * 2);
  }
}
.parmain .parmain-info .parmain-info-items > div > p {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-items > div > p {
    padding-bottom: 0;
    width: 50%;
  }
}
.parmain .parmain-info .parmain-info-items > div > div {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-items > div > div {
    padding-bottom: 0;
    width: 45%;
    display: flex;
    justify-content: space-around;
  }
}
.parmain .parmain-info .parmain-info-items img {
  width: 49%;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-items img {
    width: 25%;
    display: block;
  }
}
.parmain .parmain-info .parmain-info-flow {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow {
    padding-bottom: 100px;
  }
}
.parmain .parmain-info .parmain-info-flow h3 {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow h3 {
    padding-bottom: 150px;
  }
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps :nth-child(4) {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps :nth-child(3) {
    margin-bottom: 0;
  }
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div {
  margin-bottom: 48px;
  border-radius: 20px;
  border: solid 1px black;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div {
    width: 45%;
  }
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div .parmain-info-flow-steps-head {
  border-radius: 16px;
  border: solid 1px black;
  text-align: center;
  background-color: #FFE9AC;
  margin-bottom: 16px;
  padding: 4px 0;
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div .parmain-info-flow-steps-head > p {
  text-align: center;
  padding-bottom: 0;
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div p {
  text-align: left;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div p {
    font-size: calc(24px - 4px);
  }
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div a {
  display: block;
  width: 100%;
  border-radius: 14px;
  background-color: #A0FD8F;
  text-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div a {
    height: 90px;
    border-radius: 24px;
  }
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div a div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 4px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div a div {
    line-height: 90px;
  }
}
.parmain .parmain-info .parmain-info-flow .parmain-info-flow-steps > div a div p {
  padding: 0;
  text-align: center;
}
.parmain .parmain-info .parmain-info-flow img {
  width: 49%;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-info .parmain-info-flow img {
    width: 40%;
  }
}
.parmain .parmain-rev {
  width: 100vw;
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 48px 0;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev {
    padding: 100px 0;
  }
}
.parmain .parmain-rev > * {
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev > * {
    width: 85%;
  }
}
.parmain .parmain-rev h3 {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev h3 {
    padding-bottom: 150px;
  }
}
.parmain .parmain-rev p, .parmain .parmain-rev div {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev p, .parmain .parmain-rev div {
    padding-bottom: 100px;
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.parmain .parmain-rev :nth-child(5) {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev :nth-child(5) {
    padding-bottom: 200px;
  }
}
.parmain .parmain-rev .para-s {
  padding: 0;
}
.parmain .parmain-rev .parmain-rev-review img {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-review img {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-review .half-half {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.parmain .parmain-rev .parmain-rev-review .half-half img {
  width: 49%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-review .half-half img {
    width: calc(49% / 2);
  }
}
.parmain .parmain-rev .parmain-rev-support img {
  width: 100%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-support img {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-support p.center {
    width: 100%;
    margin: 0 auto;
    font-size: 54px;
    font-weight: bold;
  }
}
.parmain .parmain-rev .parmain-rev-support .parmain-rev-support-supporters {
  text-align: left;
  list-style: none;
  list-style-position: outside;
  width: 80%;
  font-size: 12px;
  margin-left: calc(12px * 3);
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-support .parmain-rev-support-supporters {
    margin-right: 10%;
    margin-left: calc(10% + 24px * 3);
    font-size: 24px;
  }
}
.parmain .parmain-rev .parmain-rev-support .parmain-rev-support-supporters .list1::before {
  content: "後援：";
  margin-left: calc(12px * -3);
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-support .parmain-rev-support-supporters .list1::before {
    margin-left: calc(24px * -3);
  }
}
.parmain .parmain-rev .parmain-rev-support .parmain-rev-support-supporters .list2::before {
  content: "協力：";
  margin-left: calc(12px * -3);
}
@media screen and (min-width: 1200px) {
  .parmain .parmain-rev .parmain-rev-support .parmain-rev-support-supporters .list2::before {
    margin-left: calc(24px * -3);
  }
}

.parfooter .parfooter-links {
  padding: 119px 0;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-links {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
.parfooter .parfooter-links > div {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-links > div {
    padding-bottom: 0;
  }
}
.parfooter .parfooter-links > div {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-links > div {
    width: 30%;
  }
}
.parfooter .parfooter-links > div h3 {
  padding-bottom: 32px;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-links > div h3 {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.parfooter .parfooter-links > div a {
  display: block;
  height: 56px;
  width: 100%;
  border-radius: 14px;
  background-color: #A0FD8F;
  text-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-links > div a {
    height: 90px;
    border-radius: 24px;
  }
}
.parfooter .parfooter-links > div a div {
  height: 100%;
  line-height: 56px;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-links > div a div {
    line-height: 90px;
  }
}
.parfooter .parfooter-address {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-address {
    padding-bottom: 150px;
  }
}
.parfooter .parfooter-address .para-s {
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .parfooter .parfooter-address .para-s {
    padding-bottom: 24px;
  }
}

.comheader {
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 48px 0;
}
@media screen and (min-width: 1200px) {
  .comheader {
    padding-top: 66px;
    padding-bottom: 100px;
  }
}
.comheader .comheader-headline {
  text-align: center;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) + 5px);
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .comheader .comheader-headline {
    font-size: calc(54px * 2);
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .comheader .comheader-copy {
    display: flex;
    justify-content: space-between;
  }
}
.comheader .comheader-copy h2 {
  text-align: center;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) - 4px);
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .comheader .comheader-copy h2 {
    width: 55%;
    font-size: calc(54px - 2px);
    text-align: left;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .comheader .comheader-copy div {
    width: 40%;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .comheader .comheader-copy div {
    padding-bottom: 100px;
    width: 55%;
  }
}
.comheader .comheader-copy div img {
  width: 100%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .comheader .comheader-copy div img {
    width: 100%;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .comheader .comheader-copy .comheader-line {
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
  }
}

.commain .commain-info {
  width: 70%;
}
.commain .commain-info .commain-info-about {
  padding-top: 48px;
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-about {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
.commain .commain-info .commain-info-about h3 {
  width: 100%;
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-about h3 {
    padding-bottom: 150px;
    width: 100%;
  }
}
.commain .commain-info .commain-info-about :nth-child(4) {
  padding-bottom: 0;
}
.commain .commain-info .commain-info-about p, .commain .commain-info .commain-info-about img {
  padding-bottom: 32px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-about p, .commain .commain-info .commain-info-about img {
    margin: 0 auto;
    padding-bottom: 100px;
  }
}
.commain .commain-info .commain-info-about div {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-about div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
.commain .commain-info .commain-info-merit {
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit {
    padding-bottom: 150px;
  }
}
.commain .commain-info .commain-info-merit h3 {
  width: 100%;
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit h3 {
    padding-bottom: 150px;
  }
}
.commain .commain-info .commain-info-merit > p {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit > p {
    padding-bottom: 100px;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-profile {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit .commain-info-merit-profile {
    padding-bottom: 100px;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-profile > p {
  text-align: right;
}
.commain .commain-info .commain-info-merit img {
  width: 30%;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit img {
    width: 30%;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow h4 {
  font-size: 20px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit .commain-info-merit-flow h4 {
    font-size: 54px;
    padding-bottom: 100px;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .part-container {
  display: flex;
  justify-content: space-between;
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .arrow-container {
  display: flex;
  justify-content: space-between;
  padding: 0 12.5%;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit .commain-info-merit-flow .arrow-container {
    padding: 0 20%;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .arrow-container img {
  width: 25%;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit .commain-info-merit-flow .arrow-container img {
    width: 10%;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .one {
  justify-content: center;
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .y-part, .commain .commain-info .commain-info-merit .commain-info-merit-flow .w-part {
  border: solid 1px black;
  border-radius: 10px;
  width: 45%;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .commain .commain-info .commain-info-merit .commain-info-merit-flow .y-part, .commain .commain-info .commain-info-merit .commain-info-merit-flow .w-part {
    padding: 30px;
    border-radius: 30px;
  }
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .y-part {
  background-color: #FFE9AC;
}
.commain .commain-info .commain-info-merit .commain-info-merit-flow .wide {
  width: 100%;
}
.commain .commain-rev {
  width: 100vw;
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 48px 0;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev {
    padding: 100px 0;
  }
}
.commain .commain-rev > * {
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev > * {
    width: 85%;
  }
}
.commain .commain-rev h3 {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev h3 {
    padding-bottom: 150px;
  }
}
.commain .commain-rev p, .commain .commain-rev div {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev p, .commain .commain-rev div {
    padding-bottom: 100px;
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.commain .commain-rev :nth-child(5) {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev :nth-child(5) {
    padding-bottom: 200px;
  }
}
.commain .commain-rev .para-s {
  padding: 0;
}
.commain .commain-rev .commain-rev-review img {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-review img {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-review .half-half {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.commain .commain-rev .commain-rev-review .half-half img {
  width: 49%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-review .half-half img {
    width: calc(49% / 2);
  }
}
.commain .commain-rev .commain-rev-support img {
  width: 100%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-support img {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-support p.center {
    width: 100%;
    margin: 0 auto;
    font-size: 54px;
    font-weight: bold;
  }
}
.commain .commain-rev .commain-rev-support .commain-rev-support-supporters {
  text-align: left;
  list-style: none;
  list-style-position: outside;
  width: 80%;
  font-size: 12px;
  margin-left: calc(12px * 3);
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-support .commain-rev-support-supporters {
    margin-right: 10%;
    margin-left: calc(10% + 24px * 3);
    font-size: 24px;
  }
}
.commain .commain-rev .commain-rev-support .commain-rev-support-supporters .list1::before {
  content: "後援：";
  margin-left: calc(12px * -3);
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-support .commain-rev-support-supporters .list1::before {
    margin-left: calc(24px * -3);
  }
}
.commain .commain-rev .commain-rev-support .commain-rev-support-supporters .list2::before {
  content: "協力：";
  margin-left: calc(12px * -3);
}
@media screen and (min-width: 1200px) {
  .commain .commain-rev .commain-rev-support .commain-rev-support-supporters .list2::before {
    margin-left: calc(24px * -3);
  }
}

.comfooter .comfooter-links {
  padding: 119px 0;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-links {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
.comfooter .comfooter-links > div {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-links > div {
    padding-bottom: 0;
  }
}
.comfooter .comfooter-links > div {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-links > div {
    width: 30%;
  }
}
.comfooter .comfooter-links > div h3 {
  padding-bottom: 32px;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-links > div h3 {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.comfooter .comfooter-links > div a {
  display: block;
  height: 56px;
  width: 100%;
  border-radius: 14px;
  background-color: #A0FD8F;
  text-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-links > div a {
    height: 90px;
    border-radius: 24px;
  }
}
.comfooter .comfooter-links > div a div {
  height: 100%;
  line-height: 56px;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-links > div a div {
    line-height: 90px;
  }
}
.comfooter .comfooter-address {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-address {
    padding-bottom: 150px;
  }
}
.comfooter .comfooter-address .para-s {
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .comfooter .comfooter-address .para-s {
    padding-bottom: 24px;
  }
}

.revheader {
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 48px 0;
}
@media screen and (min-width: 1200px) {
  .revheader {
    padding-top: 66px;
    padding-bottom: 100px;
  }
}
.revheader .revheader-headline {
  text-align: center;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) + 5px);
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .revheader .revheader-headline {
    font-size: calc(54px * 2);
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .revheader .revheader-copy {
    display: flex;
  }
}
.revheader .revheader-copy h2 {
  text-align: center;
  font-size: calc(calc(1.125rem + ((1vw - 3.75px) * 6.2609)) - 4px);
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .revheader .revheader-copy h2 {
    width: 55%;
    font-size: calc(54px - 4px);
    text-align: left;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .revheader .revheader-copy div {
    width: 40%;
    padding-bottom: 100px;
  }
}
.revheader .revheader-copy div img {
  width: 100%;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .revheader .revheader-copy div img {
    width: 100%;
  }
}
.revheader .revheader-line {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .revheader .revheader-line {
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
  }
}

.revmain {
  width: 100%;
}
.revmain .revmain-info {
  width: 100%;
}
.revmain .revmain-info .revmain-info-about {
  width: 85%;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.revmain .revmain-info .revmain-info-about h3 {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about h3 {
    padding-bottom: 150px;
  }
}
.revmain .revmain-info .revmain-info-about p, .revmain .revmain-info .revmain-info-about img {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about p, .revmain .revmain-info .revmain-info-about img {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}
.revmain .revmain-info .revmain-info-about > div p {
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about > div p {
    width: 60%;
  }
}
.revmain .revmain-info .revmain-info-about > div img {
  width: 70%;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about > div img {
    display: block;
    width: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about .revmain-info-about-sec2 {
    flex-direction: row-reverse;
  }
}
.revmain .revmain-info .revmain-info-about .revmain-info-about-sec3 > p {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-about .revmain-info-about-sec3 {
    padding-bottom: 0;
  }
}
.revmain .revmain-info .revmain-info-movie {
  width: 85%;
  margin: 0 auto;
}
.revmain .revmain-info .revmain-info-movie h3 {
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-movie h3 {
    padding-bottom: 150px;
  }
}
.revmain .revmain-info .revmain-info-movie > div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-movie > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
  }
}
.revmain .revmain-info .revmain-info-movie .revmain-info-movie-container {
  position: relative;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-movie .revmain-info-movie-container {
    width: 80%;
    align-items: center;
  }
}
.revmain .revmain-info .revmain-info-movie .revmain-info-movie-container video {
  width: 100%;
}
.revmain .revmain-info .revmain-info-movie .revmain-info-movie-desc {
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-movie .revmain-info-movie-desc {
    width: 80%;
    padding: 24px;
  }
}
.revmain .revmain-info .revmain-info-movie .revmain-info-movie-desc .para-l {
  padding-bottom: 16px;
}
.revmain .revmain-info .revmain-info-review {
  width: 100%;
  background: linear-gradient(0deg, #fff39d 0%, rgba(255, 243, 157, 0.3519782913) 25%, rgba(255, 243, 157, 0.2567401961) 78%, #fff39d 100%);
  padding: 32px 0;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review {
    padding: 0 7.5%;
    padding-bottom: 150px;
  }
}
.revmain .revmain-info .revmain-info-review > h3 {
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review > h3 {
    padding-bottom: 150px;
    padding-top: 150px;
  }
}
.revmain .revmain-info .revmain-info-review > p {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review > p {
    width: 80%;
    font-size: calc(1.5rem + ((1vw - 9.5px) * 1.0909));
    padding-bottom: 100px;
  }
}
.revmain .revmain-info .revmain-info-review .flex {
  display: flex;
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-items {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review .revmain-info-review-items {
    padding: 24px 0;
    flex-direction: row;
  }
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-items > p, .revmain .revmain-info .revmain-info-review .revmain-info-review-items div {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review .revmain-info-review-items > p, .revmain .revmain-info .revmain-info-review .revmain-info-review-items div {
    width: 45%;
  }
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-items > p > img, .revmain .revmain-info .revmain-info-review .revmain-info-review-items div > img {
  width: 100%;
  height: auto;
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-items .round > img {
  border-radius: 50%;
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review .revmain-info-review-container {
    flex-direction: row;
  }
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-container > .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review .revmain-info-review-container > .column {
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review .revmain-info-review-container > .column > div {
    width: 100%;
    padding-bottom: 24px;
  }
}
.revmain .revmain-info .revmain-info-review .revmain-info-review-container > .column > div > img {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .revmain .revmain-info .revmain-info-review .revmain-info-review-container > .one {
    justify-content: center;
  }
}

.revfooter .revfooter-links {
  padding: 119px 0;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-links {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
.revfooter .revfooter-links > div {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-links > div {
    padding-bottom: 0;
  }
}
.revfooter .revfooter-links > div {
  margin: 0 auto;
  width: 85%;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-links > div {
    width: 30%;
  }
}
.revfooter .revfooter-links > div h3 {
  padding-bottom: 32px;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-links > div h3 {
    font-size: calc(1.75rem + ((1vw - 9.5px) * 1.4545));
  }
}
.revfooter .revfooter-links > div a {
  display: block;
  height: 56px;
  width: 100%;
  border-radius: 14px;
  background-color: #A0FD8F;
  text-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-links > div a {
    height: 90px;
    border-radius: 24px;
  }
}
.revfooter .revfooter-links > div a div {
  height: 100%;
  line-height: 56px;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-links > div a div {
    line-height: 90px;
  }
}
.revfooter .revfooter-address {
  padding-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-address {
    padding-bottom: 150px;
  }
}
.revfooter .revfooter-address .para-s {
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .revfooter .revfooter-address .para-s {
    padding-bottom: 24px;
  }
}/*# sourceMappingURL=style.css.map */